html, body{
  margin: 0; padding: 0; border: 0; height: 100%; width: 100%;
  overflow: hidden;
}

*{
  box-sizing: border-box;
}

/* #sketchWrapper{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
} */
#sketch2{
  width: 25%;
  float: right;
  height: 80vh;
  padding: 25px;
  overflow: auto;
  background: darkgrey;
  margin: 0;
}
#counter{
  /* z-index: 2; */
  width: 25%;
  float: right;
  position: relative;
  left: 25%;
  top: 80vh;
  height: 20vh;
  padding: 25px;
  overflow: none;
  background: white;
  margin: 0;
}
span{
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  margin: 0;
  /* text-transform: uppercase; */
  font-family: 'Inconsolata', sans-serif;
  letter-spacing: 2px;
  display: block;
  opacity: 0;
  margin-bottom: 25px;
}

.span2 {
text-transform: uppercase;
}
.span3{
  position: relative;
  top
}
.spanVel{
  /* position: absolute; */
  /* display : fixed; */
  margin-bottom: 25px;
}
.spanMass{
  display : fixed;
  margin-bottom: 25px;
}

span.is-visible{
  opacity: 1;
}
